{% extends "app/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block background_video %} 
        <div class="background_video">
            <div class="video-wrapper">
                <video src="{% static 'app/images/introo1.mp4' %}" muted loop autoplay></video>
            </div>
            <div class="video-overlay" ></div>
            <div class="wrap-playbutton">
                <div class="circle"></div>
                <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            
            <div class="video-text">
                <h1>Welcome To Nepal</h1>
                <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit
                nisi eius modi <br>provident excepturi, harum alias fugit, quas cupiditate. Voluptate?</p>
                <a href="" class="btn btn-warning">Learn More</a>
            </div>
            
        </div>
    {% endblock background_video %}
    
</body>
</html>